@font-face {
    font-family: timer;
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.team {
    text-align: center;
    padding: 20px 40px;
    border: 5px solid white;
    border-radius: 10px;
}

.team-name {
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.points {
    margin: 0px auto;
    color: #F94F6D;
    font-family: timer;
    font-size: 90px;
    padding: 20px;
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
}

.plus {
    margin: 26px 0;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    padding: 8px;
    background: #1B244A;
    color: #9AABD8;
    border-radius: 5px;
    font-family: timer;
}

.gameplay {
    margin: 50px;
    text-align: center;
}

#reset-btn {
    font-size: 25px;
    font-weight: 500;
    border: 3px solid black;
    padding: 20px;
    background: #bf0603;
    color: #edf2f4;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}